// app global css in SCSS form
.text-subtitle2 {
  color: gray;
}

.team-card {
  height: 35x0px;
}

.initiative-card {
  height: 35x0px;
}

.inititativeProgress {
  color: #00a9a5;
}

.form-identity-wrapper {
  justify-content: space-between;
}
